<!DOCTYPE html>
<html data-ng-app="testApp" data-ng-controller="mainCtrl">
<head>
    <title data-ng-bind="pageTitle"></title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body >


<div class="test" data-ng-class="{test2: true}">

    <div class="header">
        <div ng-repeat="state in states">
            <button class="btn btn-default btn-block" ng-click="navigateStates(state)">{{state}}</button>
        </div>
    </div>
    <ui-view class="main"></ui-view>
    <div class="footer">Here is the footer</div>
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
<script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="js/app.js"></script>
<script src="js/ngPatternController.js"></script>
</body>
</html>