<br/>

<div class="container">
    <form role="form" name="employeeForm" class="form-horizontal" novalidate data-ng-submit="submit()">
        <fieldset>
            <legend>Basic Information</legend>
            <div class="form-group" data-ng-class="{'has-error': employeeForm.fullName.$invalid}">
                <label for="fullName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" id="fullName" name="fullName" class="form-control" data-ng-model="editableEmployee.fullName" ng-required="true"/>
                    <span class="help-block" data-ng-show="employeeForm.fullName.$error.required">Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="notes" class="col-sm-3 control-label">Notes</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="notes" id="notes" cols="40" rows="5" data-ng-model="editableEmployee.notes"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="department" class="col-sm-3 control-label">Department</label>
                <div class="col-sm-9">
                    <select name="department" id="department" class="form-control" data-ng-options="dept for dept in departments" data-ng-model="editableEmployee.department"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Date Hired</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" data-ng-model="editableEmployee.dateHired" format-date/>
                    <div uib-datepicker data-ng-model="editableEmployee.dateHired" datepicker-options="dateOptions"></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Date Hired</label>
                <p class="col-sm-9 input-group" data-ng-class="{'has-error': employeeForm.birthdate1.$invalid}">
                    <input
                            name="birthdate1"
                            type="text"
                            class="form-control"
                            uib-datepicker-popup="yyyy-MM-dd"
                            ng-model="editableEmployee.dateHired"
                            is-open="popup1.opened"
                            data-ng-pattern="dateValidator"
                            ui-mask="9999-99-99"
                            model-view-value="{{true}}"
                            ui-mask-placeholder-char="{{'\ '}}"
                            />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>
            </div>

        </fieldset>

        <br/>

        <fieldset>
            <legend>Perks</legend>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label for=""><input type="checkbox" value="perkCar" data-ng-model="editableEmployee.perkCar">Company Car</label>
                    </div>
                    <div class="checkbox">
                        <label for=""><input type="checkbox" value="perkStock" data-ng-model="editableEmployee.perkStock">Stock Options</label>
                    </div>
                    <div class="checkbox">
                        <label for=""><input type="checkbox" value="perkSixWeeks" data-ng-model="editableEmployee.perkSixWeeks">Six Weeks Vaction</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <br/>

        <fieldset>
            <legend>Payroll Type</legend>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="radio">
                        <label for=""><input type="radio" name="payrollType" value="w2" data-ng-model="editableEmployee.payrollType">W-2</label><br/>
                    </div>
                    <div class="radio">
                        <label for=""><input type="radio" name="payrollType" value="ten99" data-ng-model="editableEmployee.payrollType">1099</label><br/>
                    </div>
                    <div class="radio">
                        <label for=""><input type="radio" name="payrollType" value="none" data-ng-model="editableEmployee.payrollType">None</label><br/>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>


