<form action="" name="myForm">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" type="text" name="" data-ng-model="input" data-ng-list>
            </div>
            <div class="col-xs-6">{{input}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" type="text" name="" data-ng-model="input2" data-ng-list=" " data-ng-trim="false">
            </div>
            <div class="col-xs-6">{{input2}}</div>
        </div>
    </div>
</form>