<br/>
<br/>
Admin Panel for Service Desk Mockup
<br/>
<div class="container">
    <uib-tabset active="0">
        <uib-tab index="0" heading="{{categories.titlePlural}}" data-ng-click="reset(categories)">
            <it-admin-main-panel panel-data="categories"></it-admin-main-panel>
        </uib-tab>
        <uib-tab index="1" heading="{{roles.titlePlural}}"  data-ng-click="reset(roles)">
            <it-admin-main-panel panel-data="roles"></it-admin-main-panel>
        </uib-tab>
        <uib-tab index="2" heading="{{resources.titlePlural}}"  data-ng-click="reset(resources)">
            <it-admin-main-panel panel-data="resources"></it-admin-main-panel>
        </uib-tab>
        <uib-tab index="3" heading="{{groupsRoles.titlePlural}}"  data-ng-click="reset(groupsRoles)">
            <it-admin-main-panel panel-data="groupsRoles"></it-admin-main-panel>
        </uib-tab>
    </uib-tabset>
</div>